@model int

<style>
    th {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <div class="col-md-10">
            <input type="text" name="name" id="toDoName" placeholder="Add a new task" class="form-control" autofocus />
        </div>
        <button id="addToDo" data-user-id="@Model" class="btn btn-info">Submit</button>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table id="toDosTable"class="table table-bordered table-hover table-striped">
            <tr>
                <th>Task</th>
                <th>Status</th>
            </tr>

           
        </table>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="~/js/Index.js"></script>
}